<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Initializations" type="SSLCertificateController.Initializations, SSLCertificateController" />


    <!--<section name="EXAMPLE_IPGROUP" type="System.Configuration.NameValueSectionHandler" />-->
    <section name="DATACENTER_Servers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.net>
    <defaultProxy useDefaultCredentials="true" enabled="true">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>

  <Initializations>
    <Websites>
      <add Address="www.google.com" Type="AddressCheck"  Thumbprint="B3EC9CBB376EFBC8666B23D7D7022DC3D6E36EA0" />
      <add Address="www.google.com" Type="DATACENTER_Servers"  Thumbprint="B3EC9CBB376EFBC8666B23D7D7022DC3D6E36EA0" />
      <!--<add Address="www.EXAMPLEForAddressCheck.com" Type="AddressCheck"  Thumbprint="C100EC229027D35614DC638B526E43124D21D8A5" />-->
      <!--<add Address="www.EXAMPLEForAddressCheck.com/URI_CanAlsoBeUsed" Type="AddressCheck"  Thumbprint="C100EC229027D35614DC638B526E43124D21D8A5" />-->
      <!--<add Address="www.EXAMPLEForIPGroup.com" Type="EXAMPLE_IPGROUP"  Thumbprint="THUMBPRINT" />-->
    </Websites>
  </Initializations>

  <!--<EXAMPLE_IPGROUP>
    <add key="EXAMPLE_SERVER" value="10.10.100.10" />
  </EXAMPLE_IPGROUP>-->

  <DATACENTER_Servers>
    <add key="Server-C010" value="10.10.100.10" />
    <add key="Server-C100" value="10.10.100.100" />
    <add key="Server-C101" value="10.10.100.101" />
    <add key="Server-C102" value="10.10.100.102" />
    <add key="Server-C103" value="10.10.100.103" />
    <add key="Server-C104" value="10.10.100.104" />
    <add key="Server-C105" value="10.10.100.105" />
    <add key="Server-C106" value="10.10.100.106" />
    <add key="Server-C107" value="10.10.100.107" />
    <add key="Server-C108" value="10.10.100.108" />
    <add key="Server-C109" value="10.10.100.109" />
    <add key="Server-C110" value="10.10.100.110" />
    <add key="Server-C111" value="10.10.100.111" />
    <add key="Server-C112" value="10.10.100.112" />
    <add key="Server-C113" value="10.10.100.113" />
    <add key="Server-C114" value="10.10.100.114" />
    <add key="Server-C200" value="10.10.100.200" />
    <add key="Server-C201" value="10.10.100.201" />
    <add key="Server-C202" value="10.10.100.202" />
    <add key="Server-C203" value="10.10.100.203" />
    <add key="Server-C204" value="10.10.100.204" />
    <add key="Server-C205" value="10.10.100.205" />
    <add key="Server-C206" value="10.10.100.206" />
    <add key="Server-C207" value="10.10.100.207" />
    <add key="Server-C208" value="10.10.100.208" />
    <add key="Server-C209" value="10.10.100.209" />
  </DATACENTER_Servers>

</configuration>